:root{
    --couleur-primaire_transparent:rgba(07,14,30);
    --couleur-secondaire:#b10420;
    --couleur-tertiaire:#EDF2F4;
}
@font-face {
  font-family:'kremlin';
  src: url(assets/fonts/kremlin.ttf) format('truetype');
}

*{
  margin: 0;
  padding: 0;
  /* border: solid red 1px; */
}


body{
  background-color: var(--couleur-tertiaire);
}
.main{
  display: flex;
  flex-direction: column;
  background-color:var(--couleur-tertiaire);
  height: 90vh;
  font-size: 30px;
}
.main_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: 'Staatliches', cursive;
}
.main_text--aera{
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.main_text--slogan{
  display: flex;
  justify-content: flex-end;
  width: 60%;
  letter-spacing: 5px;
  padding-left: 60px;
  color: var(--couleur-secondaire);
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 48px;
}

.main_text h1 {
  color: var(--couleur-primaire_transparent);
  font-family: 'kremlin';
  font-size: 100px;
}

.main_text h1:hover{
  font-family: 'kremlin';
  font-size: 100px;
  letter-spacing: 5px;
}

.main_text h2{
  color: var(--couleur-secondaire);
  letter-spacing: 5px;
  font-size: 56px;
}

.main_text h2:hover, #blue_text:hover {
  letter-spacing: 5px;
}
#blue_text{
  color:var(--couleur-primaire_transparent);
}


.main_text--button{
  margin-top: 3rem;
  background-color: var(--couleur-primaire_transparent);
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 40px;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.main_text--button:hover{
  background-color: var(--couleur-secondaire);
  color: white;
  box-shadow: 5px 5px 2px 1px var(--couleur-primaire_transparent);
}

.about-me{
  display: flex;
  flex-direction: row;
  padding: 60px;
  background-color: var(--couleur-primaire_transparent);
  color: var(--couleur-tertiaire);
  font-family: 'Staatliches', cursive;
}

.about-me_information{
  width: 50%;
}
.about-me_photo{
  width: 50%;
  display: flex;
  justify-content: center;
}
.about-me h2{
  font-size: 56px;
}
.about-me p{
  padding-top: 15px;
  line-height: 2;
}

.portrait{
  width: 300px;
  border-radius: 50%;
  border: solid 5px var(--couleur-tertiaire);
}

.about-me_information--button{
  display: flex;
  justify-content: flex-end;
}

.about-me_button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: var(--couleur-tertiaire);
  color: var(--couleur-primaire_transparent);
  width: 250px;
  height: 30px;
  border-radius: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 28px;
}

.about-me_button:hover{
  background-color: var(--couleur-secondaire);
  color: white;
  box-shadow: 5px 5px 2px 1px var(--couleur-tertiaire);
}


@media only screen and (max-width: 650px){
/*   .main{
    display: flex;
    justify-content: space-around;
    background-color:var(--couleur-tertiaire);
    height: 90vh;
    font-size: 22px;
    justify-content: center;
    padding-top: 10%;
  } */
  .main_text--aera{
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .main_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    font-family: 'Staatliches', cursive;
  }
  .main_text--slogan{
    display: flex;
 /*   flex-direction: row-reverse; */
    width: 60%;
    letter-spacing: 5px;
    padding-left: 10%;
    color: var(--couleur-secondaire);
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 24px;
  }
  
  .main_text h1 {
    display: flex;
    font-family: 'kremlin';
    font-size: 48px;
   justify-content: center;
  }
  .main_text--button{
    margin-top: 3rem;
    background-color: var(--couleur-primaire_transparent);
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
  }
  
  }

  
