:root{
    --couleur-primaire_transparent:rgba(07,14,30);
    --couleur-secondaire:#b10420;
    --couleur-tertiaire:#EDF2F4;
}
*{
  margin: 0;
  padding: 0;
}

/* nav{
  display: flex;
  justify-content: space-between;
  color: var(--couleur-primaire_transparent);
}

ul{
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 18px;

}

li{
  width: 200px;
  text-decoration: none;
}
li:hover{
  background-color: var(--couleur-secondaire);
  color: var(--couleur-tertiaire);
  border-radius: 5%;
}

section{
  height: 00px;
  background-color: var(--couleur-primaire_transparent);
  font-family:'Staatliches', sans-serif ;
} */

body{
  background-color: var(--couleur-tertiaire);
}
.main{
  background-color:var(--couleur-tertiaire);
  height: 100vh;
  font-size: 30px;
}
.main_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: 'Staatliches', cursive;

}
.main_text--aera{
  margin-left: 5rem;
  margin-top: 5rem;
  margin-bottom: 10rem;

}

.main_text h1 {
  font-family: 'kremlin';
  font-size: 100px;
}

.main_text h3{
  color: var(--couleur-secondaire);
}

.main_text--button{
  margin-top: 3rem;
  background-color: var(--couleur-primaire_transparent);
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 40px;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.main_text--button:hover{
  background-color: var(--couleur-secondaire);
  color: white;
  box-shadow: 5px 5px 2px 1px var(--couleur-primaire_transparent);
}