/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "texte portrait";
}

.texte { grid-area: texte; }

.portrait { grid-area: portrait; } */


/* Début CSS section about-me*/
*{
  border: red 1px solid;
}
  
  .about-me_information{
    width: 50%;
  }
  .about-me_photo{
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .about-me h2{
    font-size: 56px;
  }
  .about-me p{
    padding-top: 15px;
    line-height: 2;
  }
  
  .portrait{
    width: 300px;
    border-radius: 50%;
    border: solid 5px var(--couleur-tertiaire);
  }

  
  .about-me_information--button{
    display: flex;
    justify-content: flex-end;
  }
  
  .about-me_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    background-color: var(--couleur-tertiaire);
    color: var(--couleur-primaire_transparent);
    width: 250px;
    height: 30px;
    border-radius: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 28px;
  }
  
  .about-me_button:hover{
    background-color: var(--couleur-secondaire);
    color: white;
    box-shadow: 5px 5px 2px 1px var(--couleur-tertiaire);
  }
  /* Fin CSS section about-me*/

  @media only screen and (max-width: 1024px){
    .about-me{
      display: flex;
      flex-wrap: wrap;
    }

    .about-me_information{
      display: flex;
      flex-wrap: wrap;
    }
  }