
.about-me{
  display: flex;
  flex-direction: row;
  padding: 60px;
  background-color: var(--couleur-primaire_transparent);
  color: var(--couleur-tertiaire);
  font-family: 'Staatliches', cursive;
  
}

.about_titre{
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  font-family: 'Staatliches', cursive;
}

.about{
  margin-bottom: 30px;
}
.about_titre{
  text-align: center;
}
.container_info {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.image_info{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texte_info{
  width: 50%;
  font-family: 'Roboto Condensed', sans-serif;

}

.portrait_info{
  width: 400px;
  border: solid 5px var(--couleur-tertiaire);
}

@media only screen and (max-width: 1024px){
  .about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--couleur-primaire_transparent);
    color: var(--couleur-tertiaire);
    text-align: justify;
  }
  .container_info{
    display: flex;
    flex-wrap: wrap;
  }
 
  .texte_info{
    width: 100%;
    font-family: 'Oswald', sans-serif;
    line-height:2em;
    padding-bottom: 20px;
  }
  .image_info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .portrait_info{
    width: 300px;
    border: solid 5px var(--couleur-tertiaire);
  }
} 
 

/* text-align: center;
color: var(--couleur-secondaire);
font-size: 28px;
margin:20px 20px;
text-decoration: underline; */