*{
  border: red 1px solid; 
} 
.about-me{
  display: flex;
  flex-direction: row;
  padding: 60px;
  background-color: var(--couleur-primaire_transparent);
  color: var(--couleur-tertiaire);
  font-family: 'Staatliches', cursive;
}
.about{
  margin-bottom: 30px;
}
.about_titre{
  text-align: center;
}
.container_info {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.image_info{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texte_info{
  width: 50%;

}

.portrait_info{
  width: 400px;
  border: solid 5px var(--couleur-tertiaire);
}

@media only screen and (max-width: 1024px){
  .about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--couleur-primaire_transparent);
    color: var(--couleur-tertiaire);
    font-family: 'Staatliches', cursive;
  }
  .container_info{
    display: flex;
    flex-wrap: wrap;
  }
 
  .texte_info{
    width: 100%;
  }
  .image_info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .portrait_info{
    width: 300px;
    border: solid 5px var(--couleur-tertiaire);
  }
} 
 