:root{
    --couleur-primaire_transparent:#071430;
    --couleur-secondaire:#b10420;
    --couleur-tertiaire:#EDF2F4;
    --couleur-degrade:linear-gradient(rgba(07,14,30, 0.5) rgba(217,4,21, 0.5));
}
/* *{
  border: red 1px solid;
} */
.portfolio {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--couleur-tertiaire);
    font-family: 'Staatliches', cursive;
    background-color: var(--couleur-primaire_transparent);
    padding-bottom: 60px;
    width: 100%;
  }
  
  .portfolio h2{
    text-align: center;
    letter-spacing: 5px;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 48px;
    color: var(--couleur-tertiaire);
  }
  
  .portfolio_projects--container{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
  }
  .portfolio_projects--cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: white 2px solid;
    height: 500px;
    width: 350px;
  }
.portfolio_projects--cards--titre{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 26px;
}
.modal_texte--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  width: 100%;
  height: 21.7%;
}


.portfolio_projects--cards--image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;

}


#image{
  height: 200px;
  width: 250px;
}

.portfolio_projects--cards--texte{
  align-items: center;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
.projet_button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: var(--couleur-tertiaire);
  color: var(--couleur-primaire_transparent);
  width: 150px;
  height: 30px;
  border-radius: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
  font-family: 'Staatliches', cursive;
  outline: none;
  
}
.projet_button:hover{
  background-color: var(--couleur-secondaire);
  color: white;
  box-shadow: 5px 5px 2px 1px var(--couleur-tertiaire);
  cursor: pointer;
}

.projet_image--size{
  height: 150px;
  width: 300px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--couleur-tertiaire);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 5px solid var(--couleur-tertiaire);
  color: var(--couleur-primaire_transparent);
  width: 70%; /* Could be more or less, depending on screen size */
}
.modal_projet--container{

  display: grid; 
  grid-template-columns: 0.4fr 1.5fr; 
  grid-template-rows: 0.5fr; 
  gap: px 0px; 
  grid-template-areas: 
    "logo Titre"; 
}

.modal_projet--container--logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio_projects--cards--image{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal_projet--logo{
  width: 100px;
  height: 100px;
}
.modal_image{
  width: 100%;
  height: 500px;
  width: 500px;
}
.modal_projet--contexte{
  text-align: justify;
  padding: 25px 25px 10px 10px;
  font-size: 26px;
}

/* The Close Button */
.close {
  color: var(--couleur-primaire_transparent);
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 56px;
  color: var(--couleur-secondaire);
}

.modal_projet{
  display: flex;
  flex-direction:column;
}
.modal_projet h2{
  color: var(--couleur-primaire_transparent);
  font-size: 36px;
}


@media only screen and (max-width: 1024px){
.portfolio {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  color: var(--couleur-tertiaire);
  font-family: 'Staatliches', cursive;
  background-color: var(--couleur-primaire_transparent);
  padding-bottom: 60px;
}
.portfolio_projects--container{
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  justify-content: space-around;
  row-gap: 15px;
}
.modal-content {
  background-color: var(--couleur-tertiaire);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 5px solid var(--couleur-tertiaire);
  color: var(--couleur-primaire_transparent);
  width: 50%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-wrap: wrap;
}
}
