:root{
    --couleur-primaire_transparent:rgba(07,14,30);
    --couleur-secondaire:#b10420;
    --couleur-tertiaire:#EDF2F4;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--couleur-primaire_transparent);
    color: var(--couleur-tertiaire);
    width: 100%;
    height: 56px;
    font-family: 'Staatliches', cursive;
    border-bottom: var(--couleur-tertiaire) 3px solid;

}

.navbar__title{
    font-size: 1.5rem;
    margin: .5rem;
    margin-left: 1rem;
    font-family: 'kremlin';
    
}


.navbar__links ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 18px;
}

.navbar__links li {
    list-style: none;
    width: 200px;
}

.navbar__links li a {
    text-decoration: none;
    color: var(--couleur-tertiaire);
    padding: 1rem;
    display: block;

}

.navbar__links li a:hover{
    letter-spacing: 5px;
    background-color: var(--couleur-secondaire);
    color: var(--couleur-tertiaire);
    border: var(--couleur-tertiaire) 2px solid;
    border-radius: 5%;
}

.toggle-button{
    position: absolute;
    top: 1rem;right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
  }
 



@media  (max-width: 1024px) {
    .toggle-button{
        display:flex;
    }
    .navbar__links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar__links li {
    text-align: center;
    background-color: var(--couleur-primaire_transparent);
}
    .navbar__links li a{
    padding: .75rem .75rem;
}
    .navbar__links.active{ 
        display:flex
    }
}