:root{
    --couleur-primaire_transparent:#071430;
    --couleur-secondaire:#b10420;
    --couleur-tertiaire:#EDF2F4;
    --couleur-degrade:linear-gradient(rgba(07,14,30, 0.5) rgba(217,4,21, 0.5));
}


html{
  scroll-behavior: smooth;


}
a{
  text-decoration: none;
}

  .socials_box{
    width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  margin-left: 550px ;
  z-index: 150;

}  
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  border: solid 2px var(--couleur-tertiaire); /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--couleur-primaire_transparent); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: 'Staatliches', cursive;
  z-index: 2;
}

#myBtn:hover {
  background-color: var(--couleur-secondaire); /* Add a dark-grey background on hover */
}

@font-face {
  font-family:'kremlin';
  src: url(assets/fonts/kremlin.ttf) format('truetype');
}

*{
  margin: 0;
  padding: 0;
 /*  border: solid red 1px; */
 /*  overflow-x: hidden; */
}


body{
  background-color: var(--couleur-tertiaire);
  overflow-x: hidden;
  width: 100vw;
}
/* Debut CSS section main*/
.main{
/*   display: flex;
  flex-direction: column; */
  background-color:var(--couleur-tertiaire);
  height: 100vh;
  font-size: 30px;

}


#blue_text{
  color:var(--couleur-primaire_transparent);
}


/* Fin CSS section main*/



/* Début CSS section about-me*/
.about-me{
  display: flex;
  flex-direction: row;
  padding: 60px;
  background-color: var(--couleur-primaire_transparent);
  color: var(--couleur-tertiaire);
  font-family: 'Staatliches', cursive;
}




/* Début CSS section contact*/
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100%;
  font-family: 'Staatliches', cursive;
  background-color: var(--couleur-tertiaire);
  padding-top: 20px;
}
.contact_titre{
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 34px;
}



/* Fin CSS section contact*/





  
