:root{
    --couleur-primaire_transparent:#071430;
    --couleur-secondaire:#b10420;
    --couleur-tertiaire:#EDF2F4;
    --couleur-degrade:linear-gradient(rgba(07,14,30, 0.5) rgba(217,4,21, 0.5));
}


html{
  scroll-behavior: smooth;


}
a{
  text-decoration: none;
}

  .socials_box{
    width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  margin-left: 550px ;
  z-index: 150;

}  
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  border: solid 2px var(--couleur-tertiaire); /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--couleur-primaire_transparent); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: 'Staatliches', cursive;
  z-index: 2;
}

#myBtn:hover {
  background-color: var(--couleur-secondaire); /* Add a dark-grey background on hover */
}

@font-face {
  font-family:'kremlin';
  src: url(assets/fonts/kremlin.ttf) format('truetype');
}

*{
  margin: 0;
  padding: 0;
  border: solid red 1px;
}


body{
  background-color: var(--couleur-tertiaire);
}
/* Debut CSS section main*/
.main{
/*   display: flex;
  flex-direction: column; */
  background-color:var(--couleur-tertiaire);
  height: 100vh;
  font-size: 30px;
  width: 100%;
}

.main_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: 'Staatliches', cursive;
}
.main_text--aera{
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.main_text--slogan{
  display: flex;
  justify-content: flex-end;
  width: 60%;
  letter-spacing: 5px;
  padding-left: 60px;
  color: var(--couleur-secondaire);
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 48px;
}

.main_text h1 {
  color: var(--couleur-primaire_transparent);
  font-family: 'kremlin';
  font-size: 126px;
}

/* .main_text h1:hover{
  font-family: 'kremlin';
  font-size: 126px;
  letter-spacing: 5px;
} */

.main_text h2{
  color: var(--couleur-secondaire);
  letter-spacing: 5px;
  font-size: 56px;
  
}

.main_text--metier{
  display: flex;
  justify-content: flex-end;
  width: 60%;
  padding-top: 10px;
}

.main_text h2:hover, #blue_text:hover {
  letter-spacing: 5px;
}
#blue_text{
  color:var(--couleur-primaire_transparent);
}


.main_text--button{
  margin-top: 3rem;
  background-color: var(--couleur-primaire_transparent);
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 40px;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.main_text--button:hover{
  background-color: var(--couleur-secondaire);
  color: white;
  box-shadow: 5px 5px 2px 1px var(--couleur-primaire_transparent);
}
/* Fin CSS section main*/



/* Début CSS section about-me*/
.about-me{
  display: flex;
  flex-direction: row;
  padding: 60px;
  background-color: var(--couleur-primaire_transparent);
  color: var(--couleur-tertiaire);
  font-family: 'Staatliches', cursive;
  width: 100%;
}

.about-me_information{
  width: 50%;
}
.about-me_photo{
  width: 50%;
  display: flex;
  justify-content: center;
}
.about-me h2{
  font-size: 56px;
}
.about-me p{
  padding-top: 15px;
  line-height: 2;
}

.portrait{
  width: 300px;
  border-radius: 50%;
  border: solid 5px var(--couleur-tertiaire);
}
.socials{
  display: flex;
  justify-content: end;
}

.about-me_information--button{
  display: flex;
  justify-content: flex-end;
}

.about-me_button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: var(--couleur-tertiaire);
  color: var(--couleur-primaire_transparent);
  width: 250px;
  height: 30px;
  border-radius: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 28px;
}

.about-me_button:hover{
  background-color: var(--couleur-secondaire);
  color: white;
  box-shadow: 5px 5px 2px 1px var(--couleur-tertiaire);
}
/* Fin CSS section about-me*/

.portfolio {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--couleur-tertiaire);
  font-family: 'Staatliches', cursive;
  background-color: var(--couleur-primaire_transparent);
  padding-bottom: 60px;
  width: 100vh;
}

/* Début CSS section skills*/


/* Fin CSS section skills*/




/* Début CSS section contact*/
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100%;
  font-family: 'Staatliches', cursive;
  background-color: var(--couleur-tertiaire);
  padding-top: 20px;
}
.contact_titre{
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 34px;
}



/* Fin CSS section contact*/



@media only screen and (max-width: 1024px){
  .main_container{
    display: flex;
    flex-wrap: wrap;
  }
  .main_text--aera{
    margin-left: 30px;
    margin-top: 2rem;
    margin-bottom: 5rem;
 
  }
  .main_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    font-family: 'Staatliches', cursive;
  }

  .main_text--metier{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  }
  .main_text--slogan{
    display: flex;
 /*   flex-direction: row-reverse; */
    width: 60%;
    letter-spacing: 5px;
    padding-left: 10%;
    color: var(--couleur-secondaire);
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 24px;
  }
  
  .main_text h1 {
    display: flex;
    font-family: 'kremlin';
    font-size: 56px;
   justify-content: center;
  }
  .main_text h1:hover{
    font-family: 'kremlin';
  }
  .main_text--button{
    margin-top: 3rem;
    margin-top: 2rem;
    background-color: var(--couleur-primaire_transparent);
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
  }
  
  .portrait{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 5px var(--couleur-tertiaire);
  }

  }

  
