:root{
    --couleur-primaire_transparent:rgba(07,14,30,0.5);
    --couleur-secondaire:#b10420;
    --couleur-tertiaire:#EDF2F4;
}

*{

    box-sizing: border-box;
    border: red solid 1px;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background: linear-gradient(150deg, #b10420,rgba(07,14,30,0.5) );
}

.container_password--input, .container_username--input{
    width: 200px;
    height: 100px;
    background: var(--couleur-primaire_transparent);
    color: var(--couleur-tertiaire);
}

