:root{
    --couleur-primaire_transparent:rgba(07,14,30);
    --couleur-secondaire:#b10420;
    --couleur-tertiaire:#EDF2F4;
}

 /* *{

    box-sizing: border-box;
    border: red solid 1px;
} 
 */



/* body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--couleur-tertiaire);
    color: var(--couleur-primaire_transparent);
    height: 56px;
}

.navbar__title{
    font-size: 1.5rem;
    margin: .5rem;
    margin-left: 1rem;
    
}


.navbar__links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar__links li {
    list-style: none;
}

.navbar__links li a {
    text-decoration: none;
    color: var(--couleur-primaire_transparent);
    padding: 1rem;
    display: block;
    border: solid 2px var(--couleur-primaire_transparent);

}

.navbar__links li a:hover{
    letter-spacing: 5px;
    background-color: grey;
    border: white 1px solid;
}

.toggle-button{
    position: absolute;
    top: 1rem;right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



.main_bloc{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    border: var(--couleur-primaire_transparent) solid 3px;
    background: var(--couleur-tertiaire);
}

.main_bloc--titre{
    display: flex;
}
.main_bloc--slogan{
    display: flex;
}
.main_slideshow{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.main_presentation{
    border: solid 5px var(--couleur-secondaire);
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    height: 25rem;
    z-index: 1;
    justify-content: center;
}

.main_presentation--bloc{
    border: solid 3px var(--couleur-primaire_transparent);
    background-color: var(--couleur-tertiaire);
    z-index: 2;
}

@media  (max-width: 500px) {
    .toggle-button{
        display:flex;
    }
    .navbar__links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar__links li {
    text-align: center;
}
    .navbar__links li a{
    padding: .75rem .75rem;
}
    .navbar__links.active{ 
        display:flex
    }
}
 */