.skills{
      display: flex;
      flex-direction: column;
      height: 70vh;
      font-family: 'Staatliches', cursive;
      background-color: var(--couleur-tertiaire);
      margin-top: 40px;
      padding-left: 20px;
    }
.skills_titre{
  text-align: center;
}
.container_skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 0px 30px;
    grid-auto-flow: row;
    display: flex;
    flex-direction: row;
   justify-content: center;
  }
/* *{
    border: red solid 1px;
} */

.skills_image--size{
  width: 50px;
}
  